html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.contenedor {
  flex: 1;
}

/* Footer centrado y al fondo */
footer {
  background-color: #f3f0f8;
  text-align: center;
  padding: 10px 0;
  color: #666;
  font-size: 0.9em;
}

footer .redes {
  margin-bottom: 10px;
}

footer .redes img {
  width: 24px;
  height: 24px;
}
