.header {
  background-color: #fffc3f42;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.navbar {
  background-color: #00000042;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-nav .nav-link {
    color: white !important;
    &:hover, &:focus { color: #f0c040 !important; }
  }

  .dropdown-menu {
    background-color: violet;
    .dropdown-item {
      color: black !important;
      &:hover { background-color: #00ddfa42; color: #fff !important; }
    }
  }
}
