/* Layout con Grid */
.container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* header - main - footer */
  grid-template-columns: 1fr;
  min-height: 100vh;
}
/* Productos con Destacados  */
.diseñarte-destacados {
  padding: 3rem 0;
  background-color: #ffffff;
  text-align: center;
  width: 100vw;
  overflow-x: hidden;
  body {

    background: linear-gradient(90deg, red, blue);

    background-size: 200% 200%;

    animation: gradientAnimation 5s infinite alternate;

}

@keyframes gradientAnimation {

    0% {

        background-position: 0% 50%;

    }

    100% {

        background-position: 100% 50%;

    }

}

}

.diseñarte-destacados h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.diseñarte-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem 2rem;
  width: 100vw;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
}

.diseñarte-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  min-width: 250px;
  max-width: 300px;
}


.diseñarte-card:hover {
  transform: scale(1.03);
}

.diseñarte-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.diseñarte-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #222;
}

.diseñarte-card p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1rem;
}

.diseñarte-boton {
  background-color: #ff0080;s
  color: #FFFFFF;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.diseñarte-boton:hover {
  background-color: #c60064;
}

